---

---
<footer class="text-gray-400 bg-neutral-950 bg-opacity-30 bottom-0 py-4">
		<p class="text-center">Artz Studios &copy; {new Date().getFullYear()}</p>
</footer>

<style>
	footer {
	  position: static;
	  bottom: 0;
	  left: 0;
	  right: 0;
	  z-index: 1;
	}
  </style>