---

---

<header class="flex justify-between items-center top-0 flex-col sm:flex-row">
	<img src="/logo.svg" alt="Logo de Artz." class="w-12"/>
	<nav class="text-white text-center opacity-85 flex gap-x-3 m-3 flex-col sm:flex-row">
		<a href="/" class="hover:text-blue-400 transition-colors duration-300">Inicio</a>
		<a href="/about" class="hover:text-blue-400 transition-colors duration-300">Sobre nosotros</a>
		<a href="/projects" class="hover:text-blue-400 transition-colors duration-300">Proyectos</a>
		<a href="/contact" class="hover:text-blue-400 transition-colors duration-300">Contacto</a>
	</nav>
</header>
